    <!-- Header starts here -->
    <header id="Header">
        <nav class="main-navigation">
            <div class="container clearfix">
                <div class="site-logo-wrap">
                    <a class="logo" href="#"><img src="assets/images/ds-logo.svg" alt="Design Studio"></a>
                </div>

                <div class="main-menu hidden-md-down">
                    <ul class="menu-list">
                        <li><button (click)="logout()">Logout</button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header ends here -->

<!-- Banner starts here -->
<section id="HeroBanner">
    <div class="hero-content">
        <body style="margin-top:100px; margin-bottom: 100px; background: none;">
            <div style="width:400px;float:center;margin-left:35%;margin-top:5%">
          
            <form [formGroup]="companyForm" (ngSubmit)="addCompany()" >
             <div class="container">
          
                <p style="text-align: center"> 
                    <strong><h2>Company Details</h2></strong> 
                </p>
                
                <strong>
                <label style="color: white;">Company Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter the company name">
                <span *ngIf="!companyForm.get('name').valid && companyForm.get('name').touched" class="validationClass">
                  Please enter a valid company name.
                </span><br /><br/>
          
                <label style="color: white;">Company Address</label>
                <input type="text" class="form-control" formControlName="address"
                  placeholder="Enter the company address">
                <span *ngIf="!companyForm.get('address').valid && companyForm.get('address').touched" class="validationClass">
                  Please enter a valid company address.
                </span><br /><br />

                <label style="color: white;">Company Phone Number</label>
                <input type="text" class="form-control" formControlName="phoneNumber"
                  placeholder="Enter the company phone">
                <span *ngIf="!companyForm.get('phoneNumber').valid && companyForm.get('phoneNumber').touched" class="validationClass">
                  Please enter a valid company phone.
                </span><br /><br />
          
                <button type="submit">Add Company</button>
              </strong>
              </div>           
            </form>
            </div>
        </body>
    </div>
</section>
<!-- Banner ends here -->

<div>
  <div class = "filter-class">
  <label>Filter: &nbsp;</label>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
      </mat-form-field> 
  </div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" 
style="color:white;background-color: green; text-align: center;">
  
  <!-- Name Column -->
  <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="background-color:rgb(0, 0, 0, 0.9);text-align: center;">
        <mat-checkbox (change)="toggleSelectAll()"
                      [checked]="isAllRowSelected"
          
                      
                      >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="toggleRowSelection(row)"
                      [checked]="row.isFavourite"
                      >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:rgb(0, 0, 0, 0.9);">
        Company Name </th>
      <td mat-cell *matCellDef="let element" > 
        {{element.Name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef style="background-color:rgb(0, 0, 0, 0.9);text-align: center;"> Company Address </th>
      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell *matHeaderCellDef style="background-color:rgb(0, 0, 0, 0.9);text-align: center;"> Company Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p style="margin-top: 10px;" align=center>
    <button id="markUnmarkFavBtn" (click)="markUnmarkFavourite()" style="color: white; background:#4CAF50; padding: 8px; border-radius: 2px; font-size: 15px; margin-right: 10px; width: 350px;">
      Mark and Unmark Favourite Companies
    </button>
    <button id="showFavBtn" (click)="getFavCompanies()" style="color: white; background:#4CAF50; padding: 8px; border-radius: 2px; font-size: 15px;margin-right: 10px;width: 300px;">
      Show Favourite Companies
    </button>
    <button id="showAllBtn" (click)="getAllCompanies()" style="color: white; background:#4CAF50; padding: 8px; border-radius: 2px; font-size: 15px;margin-right: 10px;width: 200px;">
      Show All Companies
    </button>
  </p> 

</div>

 <!-- Footer section starts here -->
<footer id="Footer">
  <div class="container">
      <div class="social-share">
          <ul>
              <li><a href="https://facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
      </div>
      <div class="footer-logo-wrap">
          Design Studio &copy; 2018. Designed by Byju
      </div>
  </div>
</footer>
<!-- Footer section ends here -->
