       <!-- Header starts here -->
       <header id="Header">
          <nav class="main-navigation">
              <div class="container clearfix">
                  <div class="site-logo-wrap">
                      <a class="logo" href="#"><img src="assets/images/ds-logo.svg" alt="Design Studio"></a>
                  </div>

                  <div class="main-menu hidden-md-down">
                      <ul class="menu-list">
                          <li><a routerLink="/login">Login</a></li>
                          <li><a routerLink="/register">Register</a></li>
                      </ul>
                  </div>
              </div>
              <div class="mobile-menu hidden-lg-up">
                  <ul class="mobile-menu-list">
                        <li><a routerLink="/login">Login</a></li>
                        <li><a routerLink="/register">Register</a></li>
                  </ul>
              </div>
          </nav>
      </header>
      <!-- Header ends here -->
      
      <!-- Banner starts here -->
      <section id="HeroBanner">
          <div class="hero-content">
              <h1>Welcome to Byju - Think and Learn</h1>
              <p>India's Most Loved Learning App</p>
          </div>
      </section>
      <!-- Banner ends here -->

      <!-- Footer section starts here -->
      <footer id="Footer">
          <div class="container">
              <div class="social-share">
                  <ul>
                      <li><a href="https://facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="https://linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  </ul>
              </div>
              <div class="footer-logo-wrap">
                  Design Studio &copy; 2018. Designed by Byju
              </div>
          </div>
      </footer>
      <!-- Footer section ends here -->